<!-- used in expenses_sheet/show -->
        <button type="button" id="sidebarCollapse" class="btn btn-info"
        style="position: absolute; margin-left: 250px;margin-top: 45px;z-index: 1">
            <span><<>></span>
        </button>
<nav id="sidebar">
    <%= render 'shared/alerts'%>
    <div class="sidebar-header" style="margin-top: 50px">
        <a class="navbar-brand" href="<%= root_path %>"><h3>Inicio</h3></a>
    </div>

    <ul class="list-unstyled components">
        <li>
          <a id="showTableButton" onclick="$('.hideable').hide(); $('#expensesTable').show();">
            <h2><%= @expensesSheet.name %></h2>   
          </a>
        </li>
        <li class="active">
            <a  class="dropdown-toggle">Gráficas</a>
            <ul class="list-unstyled" id="pageGraphs">
                <li>
                    <a id="showBarButton" onclick="$('.hideable').hide(); $('#graficBar').show();">Barras de Gastos</a>
                </li>
                <li>
                    <a id="showPieButton" onclick="$('.hideable').hide(); $('#graficPie').show();">Tarta de Usuarios</a>
                </li>
                <li>
                    <a id="showDoughnutButton" onclick="$('.hideable').hide(); $('#graficDoughnut').show();">Doughnut de Categorías</a>
                </li>
            </ul>
        </li>
        <li>
          <%= link_to 'Ver Calendario', expenses_sheet_fullcalendar_path(@expensesSheet) %>
        </li>
        <li class="active">
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Colaboradores: <%= @expensesSheet.asociationLevel %></a>
            <ul class="list-unstyled" id="pageSubmenu">
                <% @expensesSheet.asociations.each do |asociation| %>
                  <li>
                    <p>
                        <%= asociation.user.show_name %>
                    </p >
                  </li>
                <% end %>
                <li>
                    <% if current_user == @expensesSheet.owner %>
                        <%= render 'asociations/form' %>
                    <% end %>
                </li>
            </ul>
        </li>
    </ul>
    <div class="sidebar-header" style="margin-top: -20px">
        <a class="nav-link"><%= current_user.show_name %></a>
        <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link' %>
    </div>
</nav>
<script>
    function hashCode(str) { // java String#hashCode
        var hash = 0;
        for (var i = 0; i < str.length; i++) {
           hash = str.charCodeAt(i) + ((hash << 5) - hash);
        }
        return hash;
    } 

    function intToRGB(i){
        var c = (i & 0x00FFFFFF).toString(16).toUpperCase();
        return "00000".substring(0, 6 - c.length) + c;
    }

    var color = intToRGB(hashCode("<%= @expensesSheet.name %>"));
    document.getElementById("sidebar").style.backgroundColor = "#"+color;
</script>
<script>
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');

        //useless but funny code
        if ( $('#sidebarCollapse').css("marginLeft") == '0px' )
          $('#sidebarCollapse').css( { marginLeft : "250px" } );
        else
          $('#sidebarCollapse').css( { marginLeft : "0%" } );
    });

  });
</script>