<!-- used in expenses_sheet/show -->
<nav id="sidebar">
    <%= render 'shared/alerts'%>
    <div class="sidebar-header">
        <a class="navbar-brand" href="<%= root_path %>"><h3>Inicio</h3></a>
        <a class="nav-link"><%= current_user.show_name %></a>
        <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link' %>
        <button type="button" id="sidebarCollapse" class="btn btn-info" style="margin-left: 90%">
            <span>Toggle Sidebar</span>
        </button>
    </div>

    <ul class="list-unstyled components">
        <li>
          <a id="showTableButton" onclick="$('.hideable').hide(); $('#expensesTable').show();">
            <%= @expensesSheet.name %>
          </a>
        </li>
        <li>
          <%= link_to 'fullcalendar', expenses_sheet_fullcalendar_path(@expensesSheet) %>
        </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Resumen:</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">userSpent: <%= number_to_currency(@expensesSheet.userSpent(current_user)) %></a>
                </li>
                <li>
                    <a href="#">userBalance: <%= number_to_currency(@expensesSheet.userBalance(current_user)) %></a>
                </li>
                <li>
                    <a href="#">totalUnpaid: <%= number_to_currency(@expensesSheet.totalUnpaid) %></a>
                </li>
                <li>
                    <a href="#">owner: <%= @expensesSheet.owner.show_name %></a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">AsociationLevel: <%= @expensesSheet.asociationLevel %></a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <% @expensesSheet.asociations.each do |asociation| %>
                  <li>
                    <a href="#">
                        <%= asociation.user.show_name %>
                    </a>
                  </li>
                <% end %>
                <li>
                    <% if current_user == @expensesSheet.owner %>
                        <%= render 'asociations/form' %>
                    <% end %>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="#pageGraphs" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Graphs</a>
            <ul class="collapse list-unstyled" id="pageGraphs">
                <li>
                    <a id="showBarButton" onclick="$('.hideable').hide(); $('#graficBar').show();">Bar</a>
                </li>
                <li>
                    <a id="showPieButton" onclick="$('.hideable').hide(); $('#graficPie').show();">Pie</a>
                </li>
                <li>
                    <a id="showDoughnutButton" onclick="$('.hideable').hide(); $('#graficDoughnut').show();">Doughnut</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<script>
    function hashCode(str) { // java String#hashCode
        var hash = 0;
        for (var i = 0; i < str.length; i++) {
           hash = str.charCodeAt(i) + ((hash << 5) - hash);
        }
        return hash;
    } 

    function intToRGB(i){
        var c = (i & 0x00FFFFFF).toString(16).toUpperCase();
        return "00000".substring(0, 6 - c.length) + c;
    }

    var color = intToRGB(hashCode("<%= @expensesSheet.name %>"));
    document.getElementById("sidebar").style.backgroundColor = "#"+color;
</script>
<script>
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });
  });
</script>