<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">owner</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <%= form_with model: @newExpense, url: expenses_sheet_expenses_path(@expensesSheet, @newExpense), method: :post, local: true do |f| %>
      <td><%= f.submit "Crear", class: "btn btn-primary" %></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :amount, data: {prefix:"$", thousands: ",", precision: 0}%></td>
      <td><%= f.check_box :owner, {checked: true} %> uncheck to plan expense</td>
    <% end %>
    </tr>
  <% @expenses.each_with_index do |expense,index| %>
    <tr>
      <th scope="row">
        <%="#{index+1}"%>
        <%= link_to 'x', expenses_sheet_expense_path(@expensesSheet, expense), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </th>
      <td><%= expense.show_name %></td>
      <td><%= number_to_currency(expense.amount, strip_insignificant_zeros: true) %></td>
      <td>
        <% if expense.user.present? %>
          <%= expense.user.email %>
        <% else %>
          <%= link_to 'Claim',expenses_sheet_expense_claim_path(@expensesSheet, expense), class: "btn btn-primary" %>
        <% end %>
      </td>
      
    </tr>    
  <% end %>
    <tr>
      <th scope="row"><%="Total"%></th>
      <td><%= @expensesSheet.expenses.count() %></td>
      <td><%= number_to_currency(@expensesSheet.totalSpent, strip_insignificant_zeros: true) %></td>
      <td></td>      
      <td></td>
    </tr>
  </tbody>
</table>

<script>
  $('#expense_amount').maskMoney();
</script>