<div class="container">
  <h1>ExpensesSheet#index</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">userSpent</th>
        <th scope="col">userBalance</th>
        <th scope="col">expenses2Claim</th>
        <th scope="col">#asociation</th>
        <th scope="col">owner</th>
      </tr>
    </thead>
    <tbody>
    <% @expensesSheets.each_with_index do |sheet,index| %>
      <tr>
        <th scope="row">
          <%="#{index+1}"%>
        </th>
        <td><%= link_to "#{sheet.name}", sheet, 'data-turbolinks': false %></td>
        <td><%= number_to_currency(sheet.userSpent(current_user), strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(sheet.userBalance(current_user), strip_insignificant_zeros: true) %></td>
        <td><%= sheet.expensesCountToClaim() %></td>
        <td><%= sheet.asociationLevel %></td>
        <td>
          <% if current_user == sheet.owner %>
            You can: <%= link_to 'Edit', edit_expenses_sheet_path(sheet), class: "btn btn-success btn-sm" %> 
              <%= link_to 'x', sheet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          <%else%>
            <%= sheet.owner.email %>
          <%end%>
        </td>
      </tr>    
    <% end %>
      <tr>
        <th scope="row"><%="Total"%></th>
        <td><%= @expensesSheets.count() %></td>
        <td><%= number_to_currency(current_user.userSpent, strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(current_user.userBalance, strip_insignificant_zeros: true) %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
      <%= form_with model: @newExpensesSheet, url: expenses_sheet_index_path, method: :post, local: true do |f| %>
        <td><%= f.submit "Crear", class: "btn btn-primary" %></td>
        <td><%= f.text_field :name %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>