<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="navbar-brand" href="<%= root_path %>"><h3>Inicio</h3></a>
        </div>

        <ul class="list-unstyled components">
            <p><%= @expensesSheet.name %></p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Resumen:</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">userSpent: <%= number_to_currency(@expensesSheet.userSpent(current_user)) %></a>
                    </li>
                    <li>
                        <a href="#">userBalance: <%= number_to_currency(@expensesSheet.userBalance(current_user)) %></a>
                    </li>
                    <li>
                        <a href="#">totalUnpaid: <%= number_to_currency(@expensesSheet.totalUnpaid) %></a>
                    </li>
                    <li>
                        <a href="#">owner: <%= @expensesSheet.owner.email %></a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">AsociationLevel: <%= @expensesSheet.asociationLevel %></a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <% @expensesSheet.asociations.each do |asociation| %>
                      <li>
                        <a href="#">
                            <%= asociation.user.email %>
                        </a>
                      </li>
                    <% end %>
                </ul>
            </li>
            <li>    
                <%= render 'newAsociationsForm' %>
            </li>
        </ul>
    </nav>
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <%= render 'expensesTable' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-sm-offset-3 col-sm-6">
          <%= render 'graficBar' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-sm-offset-3 col-sm-6">
          <%= render 'graficPie' %>
        </div>
      </div>

    </div>    
</div>