<div class="wrapper">
  <!-- Sidebar -->
  <%= render 'expenses_sheet/show/sidebar' %>
  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 hideable" id="expensesTable">
        <%= render 'expenses/block_index' %>
      </div>
      <div class="col-sm-8 hideable" id="graficBar" style="display: none">
        <%= render 'expenses_sheet/show/grafic/graficBar' %>
      </div>
      <div class="col-sm-8 hideable" id="graficPie" style="display: none">
        <%= render 'expenses_sheet/show/grafic/graficPie' %>
      </div>
      <div class="col-sm-8 hideable" id="graficDoughnut" style="display: none">
        <%= render 'expenses_sheet/show/grafic/graficDoughnut' %>
      </div>     
    </div>
  </div>    
</div>