<%= @expensesSheet.owner.email %>
total gastado: <%= @expensesSheet.totalSpent %>
gastado por el usuario: <%= @expensesSheet.userSpent(current_user) %>
balance del usuario: <%= @expensesSheet.userBalance(current_user) %>
nivel de asociacion: <%= @expensesSheet.asociationLevel%>

<% @expenses.each do |expense| %>
  <p>-
  <%= expense.user.email %>
  <%= expense.amount %>
  </p>
<% end %>

Asociations
<% @expensesSheet.asociations.each do |expense| %>
  <p>-
  <%= expense.user.email %>
  </p>
<% end %>

<%= form_with model: @newExpensesSheet, url: expenses_sheet_expenses_path(@expensesSheet), method: :post, local: true do |f| %>
  <div class="card col-md-6">

    <%= f.label :amount %>
    <%= f.number_field :amount %>
    <%= f.submit "Entrar", class: "btn btn-primary" %>
  </div>
<% end %>

#this is solo for owner
<% if current_user == @expensesSheet.owner %>
  <%= form_with model: @newAsociation, url: expenses_sheet_asociations_path(@expensesSheet), method: :post, local: true do |f| %>
    <div class="card col-md-6">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <%= f.submit "Entrar", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>