
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">userSpent</th>
      <th scope="col">userBalance</th>
      <th scope="col">#asociation</th>
      <th scope="col">owner</th>
    </tr>
  </thead>
    <tr>
      <td><%= @expensesSheet.name %></td>
      <td><%= @expensesSheet.userSpent(current_user) %></td>
      <td><%= @expensesSheet.userBalance(current_user) %></td>
      <td><%= @expensesSheet.asociationLevel %></td>
      <td><%= @expensesSheet.owner.email %></td>
    </tr> 
  </tbody>
</table>


<div class="col-md-6">
  Hoja compratida por:
  <ul>
  <% @expensesSheet.asociations.each do |expense| %>
    <li><%= expense.user.email %></li>
  <% end %>
  </ul>
</div>
<div class="col-md-6">
  <% if current_user == @expensesSheet.owner %>
    <%= form_with model: @newAsociation, url: expenses_sheet_asociations_path(@expensesSheet), method: :post, local: true do |f| %>
      <div class="field">
        Añadir colaborador por email 
        <%= f.email_field :email, autocomplete: "email" %>
        <%= f.submit "Entrar", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Amount</th>
      <th scope="col">owner</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <%= form_with model: @newExpensesSheet, url: expenses_sheet_expenses_path(@expensesSheet), method: :post, local: true do |f| %>
      <td></td>
      <td><%= f.submit "Crear", class: "btn btn-primary" %></td>
      <td><%= f.number_field :amount %></td>
    <% end %>
    </tr>
  <% @expenses.each_with_index do |expense,index| %>
    <tr>
      <th scope="row"><%="#{index+1}"%></th>
      <td><%= expense.id %></td>
      <td><%= expense.amount %></td>
      <td><%= expense.user.email %></td>
    </tr>    
  <% end %>
    <tr>
      <th scope="row"><%="Total"%></th>
      <td><%= @expensesSheet.expenses.count() %></td>
      <td><%= @expensesSheet.totalSpent %></td>
      <td></td>      
      <td></td>
    </tr>
  </tbody>
</table>
