<div class="wrapper">
  <!-- Sidebar -->
  <%= render 'sidebar' %>
  <!-- Container -->
  <div class="container">
    <% if alert.present? %>
      <div class="alert alert-warning" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-12 hideable" id="expensesTable">
        <%= render 'expensesTable' %>
      </div>
      <div class="col-sm-8 hideable" id="graficBar" style="display: none">
        <%= render 'graficBar' %>
      </div>
      <div class="col-sm-8 hideable" id="graficPie" style="display: none">
        <%= render 'graficPie' %>
      </div>
      <div class="col-sm-8 hideable" id="graficDoughnut" style="display: none">
        <%= render 'graficDoughnut' %>
      </div>     
    </div>
  </div>    
</div>