<!-- comments container -->
<div class="comment_block" style="margin-top: 60px">
  <!-- used by #{user} to create a new comment -->
  <div class="create_new_comment">
    <div class="input_comment">
      Add a new expense
      <%= render 'expenses/form' %>
    </div>
   </div>

   <!-- new comment -->
   <div class="new_comment">

    <!-- build comment -->
    <ul class="user_comment">
      <!-- current #{user} avatar -->
      <div class="user_avatar">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg">
        <%= @expensesSheet.owner.show_name %>
      </div><!-- the comment body --><div class="comment_body">
          Hello <%= current_user.show_name%>!!
           <%= "We have planed expenses to claim for #{number_to_currency(@expensesSheet.totalUnpaid)}" if @expensesSheet.totalUnpaid > 0 %>
          <br>
          In this expesesSheet your have Spent <%= number_to_currency(@expensesSheet.userSpent(current_user), precision: 0) %>;
          <% if @expensesSheet.asociationLevel > 1 %> 
          and we <%= @expensesSheet.asociationLevel %> have spent <%= number_to_currency(@expensesSheet.totalSpent, precision: 0) %>,
          <br>
          I'm <%= @expensesSheet.userBalance(current_user) < 0 ? 'SORRY' : 'HAPPY' %>
          to say your Balance is <%= number_to_currency(@expensesSheet.userBalance(current_user), precision: 0) %>
          <% else %>
          this expensesSheet isn't shared as AsociationLevel:1         
          <% end %>
      </div>
      <!-- comments toolbar -->
      <div class="comment_toolbar">
        <!-- inc. date and time -->
        <div class="comment_details">
          <ul>
            <li><i class="fa fa-pencil"></i> <span class="user"><%= @expensesSheet.name%></span></li>
            <li><i class="fa fa-clock-o"></i> <%=time_ago_in_words(@expensesSheet.created_at)%></li>
            <li><i class="fa fa-calendar"></i> <%= @expensesSheet.created_at %> </li>
          </ul>
        </div><!-- inc. share/reply and love -->
      </div>
      <!-- start user replies -->
      <% @expenses.each_with_index do |expense,index| %>
      <li>
          <%= render expense %>      
      </li> 
      <% end %>
    </ul>
  </div>
</div>