<!-- comments container -->
<div class="comment_block">
  <!-- used by #{user} to create a new comment -->
  <div class="create_new_comment">
    <div class="input_comment">
      <a href="#addExpense" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">    
        <div class="title">
          Añadir un nuevo gasto
        </div>
      </a>
      <ul class="collapse list-unstyled" id="addExpense">
        <%= render 'expenses/form' %>
      </ul>
    </div>
   </div>

   <!-- new comment -->
   <div class="new_comment">

    <!-- build comment -->
    <ul class="user_comment">
      <!-- current #{user} avatar -->
      <div class="user_avatar">
        <img src="<%=@expensesSheet.owner.show_avatar%>">
        <%= @expensesSheet.owner.show_name %>
      </div><!-- the comment body --><div class="comment_body">
          Hola <%= current_user.show_name%>!!
           <%= "Tenemos gastos planeados por un valor de: #{number_to_currency(@expensesSheet.totalUnpaid)}" if @expensesSheet.totalUnpaid > 0 %>
          <br>
          En esta hojaDeGastos ha gastado <%= number_to_currency(@expensesSheet.userSpent(current_user), precision: 0) %>;
          <% if @expensesSheet.asociationLevel > 1 %> 
          y entre todos <%= @expensesSheet.asociationLevel %> hemos gastado <%= number_to_currency(@expensesSheet.totalSpent, precision: 0) %>,
          <br>
          <%= @expensesSheet.userBalance(current_user) < 0 ? 'SIENTO INFORMARLE que' : 'FELICIDADES' %>
          su balance es <%= number_to_currency(@expensesSheet.userBalance(current_user), precision: 0) %>
          <% else %>
          esta hojaDeGastos no esta compartida.         
          <% end %>
      </div>
      <!-- comments toolbar -->
      <div class="comment_toolbar">
        <!-- inc. date and time -->
        <div class="comment_details">
          <ul>
            <li><i class="fa fa-pencil"></i> <span class="user"><%= @expensesSheet.name%></span></li>
            <li><i class="fa fa-clock-o"></i> creada hace <%=time_ago_in_words(@expensesSheet.created_at)%></li>
            <li><i class="fa fa-calendar"></i> con fecha <%= @expensesSheet.created_at.to_date %> </li>
          </ul>
        </div><!-- inc. share/reply and love -->
      </div>
      <!-- start user replies -->
      <% @expenses.each_with_index do |expense,index| %>
      <li>
          <%= render expense %>    
      </li> 
      <% end %>
    </ul>
  <a class="btn btn-info text-white" href="<%= @expensesSheet.id %>.csv">Obtener CSV para exportar a Excel</a>
  </div>
</div>