<!-- current #{user} avatar -->
<div class="user_avatar">
  <% if expense.user.present? %>
    <img src="<%=asset_path expense.user.show_avatar%>">
    <%= expense.user.show_name %>
  <% else %>
    <%= link_to 'Asumir',expenses_sheet_expense_claim_path(@expensesSheet, expense), class: "btn btn-primary" %>
  <% end %>
</div><!-- the comment body --><div class="comment_body">
    <div class="replied_to">
      <p>
        <span class="user"> <%= expense.show_name  %>:</span>
        <%= number_to_currency(expense.amount, strip_insignificant_zeros: true) %>
      </p>
    </div>
    <%= expense.category.try(:name) %>
    <%= link_to 'Editar', edit_expense_path(expense), class: "btn btn-success btn-sm", 'data-turbolinks': false  %> 
    <%= link_to 'x', expenses_sheet_expense_path(@expensesSheet, expense), method: :delete, data: { confirm: '¿Estas seguro de borrarlo?' }, class: "btn btn-danger btn-sm" %>
</div>

<!-- comments toolbar -->
<div class="comment_toolbar">
  <!-- inc. date and time -->
  <div class="comment_details">
    <ul>
      <li><i class="fa fa-calendar"></i> <%= expense.try(:start) %> </li>
    </ul>
  </div><!-- inc. share/reply and love --><div class="comment_tools">
    <ul>
      <li><i class="fa fa-share-alt">
        <!-- link to show -->
      </i></li>
    </ul>
  </div>
</div>
