<!-- used in expenses_sheet/_expensesTable -->
<%= form_with model: @newExpense, url: expenses_sheet_expenses_path(@expensesSheet, @newExpense), method: :post, local: true do |f| %>
  <td><%= f.submit "Crear", class: "btn btn-primary" %></td>
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :amount, data: {prefix:"$", thousands: ",", precision: 0}%></td>
  <td>
    <%=
      select_tag(
        :category_id,
        options_from_collection_for_select(@categories.order(:name), :id, :name)
      )
    %>
  </td>
  <td><%= f.check_box :owner, {checked: true} %> uncheck to plan expense</td>
<% end %>