<!-- used in expenses/_block_index -->
<%= form_with model: @newExpense, url: expenses_sheet_expenses_path(@expensesSheet, @newExpense), method: :post, local: true do |f| %>

<div class="container-fluid total expenses-container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <%= f.label :nombre %><br />
                  <%= f.text_field :name %>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <%= f.label :cuantia %><br />
                  <%= f.text_field :amount, data: {prefix:"$", thousands: ",", precision: 0}%>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <%= f.label :categoria %><br />
                  <%=
                    select_tag(
                      :category_id,
                      options_from_collection_for_select(@categories.order(:name), :id, :name)
                    )
                  %>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <%= f.label :dueño %><br />
                  <%= f.check_box :owner, {checked: true} %> desmarcar para planear a futuro      
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <%= f.label :fecha %><br />
                  <%= f.text_field :start, class: "datepicker", style: "width: 12rem" %>
                </div>
              </div>
              <div class="col">
                <div class="actions">
                  <%= f.submit "Crear", class:"btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<% end %>

<script>
  $('#expense_amount').maskMoney();
</script>

<script>
  var datepicker = $('.datepicker').datetimepicker(
          { 
            format: 'YYYY/MM/DD',
            icons:
            {
              time: 'fa fa-clock-o',
              date: 'fa fa-calendar',
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down',
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-calendar-check-o',
              clear: 'fa fa-trash-o',
              close: 'fa fa-close'
            }
          }
        );
  datepicker.css({
    width: '10rem'
  });
</script>