
<%= form_with model: @expense, url: expense_path(@expense), method: :patch, local: true do |f| %>
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :amount, data: {prefix:"$", thousands: ",", precision: 0}%></td>
  <td>
    <%=
      select_tag(
        :category_id,
        options_from_collection_for_select(@categories.order(:name), :id, :name, @expense.category_id)
      )
    %>
  </td>
  <td><%= f.check_box :owner, {checked: false} %> check to take the expense</td>
  <td><%= f.submit "Editar", class: "btn btn-primary" %></td>
<% end %>

<script>
  $('#expense_amount').maskMoney();
</script>